{
  "presets": [
    ["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] } }],
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "css-modules-transform",
      {
        "generateScopedName": "[name]__[local]___[hash:base64:5]",
        "extensions": [".scss"]
      }
    ],
    [
      "transform-runtime"
    ]
  ]
}
